<h1 style="text-align: center;"><b><u>Backend Development</u></b></h1>
<div class="container">
<h4 style="text-align: center;"><b><u>About Backend</u></b></h4>
<button class="btn btn-primary" style="margin-left: 950px;"><a href="/event"><b style="color:black">Home</b></a></button> 
<p>Back-end Development refers to the server-side development. It focuses on databases, scripting, website architecture. 
It contains behind-the-scene activities that occur when performing any action on a website. It can be an account login or 
making a purchase from an online store. Code written by back-end developers helps browsers to communicate with database 
information.</p>
<p>Backend development (also stylized as back-end or back end development) is the skill that powers the web.</p>
<p>Backend development languages handle the ‘behind-the-scenes’ functionality of web applications. 
It’s code that connects the web to a database, manages user connections, and powers the web application itself. 
Backend development works in tandem with the front end to deliver the final product to the end user.</p>
<p>Backend developers are primarily focused on how a website works. They write code that focuses on the 
 functionality and logic powering the application they’re working on, and the technology they work on is never directly seen by 
 users.</p>
 <p>The tech of the back end is a combination of servers, applications, and databases.</p>
 <p>Responsibilities of backend programmers could involve writing APIs, writing code to interact with a database, 
     creating libraries, working on business processes and data architecture, and much more. 
     It often depends on the specific role and company.</p>
     <p><b>7 Types of Backend Programming Languages</b></p>
     <ol>
         <li>Java</li>
         <li>PHP</li>
         <li>.NET</li>
         <li>Ruby</li>
         <li>Python</li>
         <li>SQL</li>
         <li>Javascript</li>
     </ol>
     <button class="btn btn-primary" style="margin-left: 950px;"><a href="/conclusion"><b style="color:black">Next</b></a></button> 
</div>
