<h1 style="text-align: center;"><b><u>The summary of web technology workshop</u></b></h1>
<div class="container">
    <p style="text-align: center;"><b><u>Summary</u></b></p>
    <p style="text-align: center;"><b><u>Frontend</u></b></p>
    <p>The front-end is built using a combination of technologies such as Hypertext Markup Language (HTML), 
        JavaScript and Cascading Style Sheets (CSS).</p>
    <p>Front-end developers design and construct the user experience elements on the web page or app including buttons,
         menus, pages, links, graphics and more.</p>
    <p><b><u>HTML</u></b></p>
    <p>Hypertext Markup Language is the core of a website, providing the overall design and functionality.</p>
    <p>The most recent version was released in late 2017 and is known as HTML5.2.</p>
    <p>The updated version includes more tools aimed at web application developers as well as adjustments made to improve
         interoperability.</p>
         <hr>
    <p><b><u>CSS</u></b></p>
    <p>Cascading style sheets give developers a flexible, precise way to create attractive, interactive website designs.</p> 
     <hr>
     <p><b><u>JavaScript</u></b></p>
     <p>This event-based language is useful for creating dynamic elements on static HTML web pages.</p>
     <p>It allows developers to access elements separate from the main HTML page, as well as respond to server-side events.</p>
     <p>Front-end frameworks such as Angular, Ember, Backbone, and React are also popular.</p>
     <hr>
     <p style="text-align: center;"><b><u>Backend</u></b></p>
     <p>The core concern of back-end developers is creating applications that can find and deliver data to the front end.</p>
     <p>Many of them use reliable enterprise-level databases like Oracle, Teradata, Microsoft SQL Server, IBM DB2, EnterpriseDB and SAP Sybase ASE.</p>
     <p>There’s also a number of other popular databases including MySQL, NoSQL and PostgreSQL.</p>
     <p>There are a wide variety of frameworks and languages used to code the application, 
         such as Ruby on Rails, Java, C++/C/C#, Python and PHP.</p>    
         <button class="btn btn-primary" style="margin-left: 950px;"><a href="/event"><b style="color:black">Home</b></a></button>   
</div>