<h1 style="text-align: center;"><b><u>Database</u></b></h1>
<div class="container">
    <h4 style="text-align: center;"><b><u>About Database</u></b></h4>
    <p>Data is a collection of objects ranging from plain simple facts to complex images which provide us with necessary 
    information about a particular entity. A database is an organised and structured collection of this data and a database 
    management system (DBMS) is a tool which manages, organises and interacts with the databases.</p>
<p>here are several different types of database management systems. Four major types are – Navigational DBMS, Relational DBMS, 
    SQL DBMS and Object-Oriented DBMS. The scope of this blog is to deal with SQL Data Base Management Systems but to understand
     that, a little introduction of Relational DBMS is necessary.</p>
<p>When you browse the Web, you use your web browser to request resources from a web server and the web server responds with the 
   resources. You make these requests by filling in and submitting forms, clicking on links, or typing URLs into your browser. 
   Often, resources are static HTML pages that are displayed in the browser.</p>
<p>A web server is not sophisticated storage software. Complicated operations on data, done by commercial sites and 
   anyone else presenting lots of dynamic data, should be handled by a separate database. This leads to a more 
   complex architecture with three-tiers: the browser is still the client tier, the web server becomes the middle tier, 
   and the database is the third or database tier.</p>
<p>The three-tier architecture is conceptual. In practice, there are different implementations of web database applications 
    that fit this architecture. The most common implementation has the web server (which includes the scripting engine that 
    processes the scripts and carries out the actions they specify) and the database management system installed on one machine: 
    it’s the simplest to manage and secure</p>
<p>List of software used in database</p>
<ul>
    <li>Oracle</li>
    <li>MySql</li>
    <li>MongoDB</li>
</ul>
 
</div>
