<h1 style="text-align: center;"><b>online one day web development work shop</b></h1>
<div class="container">
    <h4 style="text-align: center;"><b><u>The one day workshop on web development</u></b></h4>
    <ol>
        <li><b><a href="/introduction">Introduction</a></b></li>
        <li><b><a href="/language">Language and software is used in web development</a></b></li>
        <li><b><a href="/front">Frontend development</a></b></li>
        <li><b><a href="backend">Backend development</a></b></li>
        <li><b><a href="database">database</a></b></li>
        <li><b><a href="conclusion">conclusion</a></b></li>
    </ol>
    <hr>
<img src="../assets/study.jpg" alt="study image" width="60%" height="250px" id="s">
<hr>
<p style="text-align: center;"><b><u>now Lets start to learn the web development workshop</u></b></p>

<button class="btn btn-primary" style="margin-left: 950px;"><a href="/introduction"><b style="color:black">Next</b></a></button>
</div>