<h1 style="text-align: center;"><b><u>Frontend development</u></b></h1>
<div class="container">
<h4 style="text-align: center;"><b><u>Frontend</u></b></h4>
<button class="btn btn-primary" style="margin-left: 950px;"><a href="/event"><b style="color:black">Home</b></a></button> 
<p>Front-end web development, also known as client-side development is the practice of producing HTML, 
    CSS and JavaScript for a website or Web Application so that a user can see and interact with them directly. 
    The challenge associated with front end development is that the tools and techniques used to create the front end 
    of a website change constantly and so the developer needs to constantly be aware of how the field is developing.</p>
<p>A web framework (WF) or web application framework (WAF) is a software framework that is designed to support 
   the development of web applications including web services, web resources, and web APIs. Web frameworks provide a 
   standard way to build and deploy web applications on the World Wide Web.</p>
<p>Angular is a platform and framework for building single-page client applications using HTML and TypeScript.</p>
<p>Angular is written in TypeScript. It implements core and optional functionality as a set of TypeScript libraries 
    that you import into your apps.</p>
<h4 style="text-align: center;"><b><u>Step install angular in your system</u></b></h4>
<p><b>STEP 1: DOWNLOAD & INSTALL NODE JS ON YOUR PC</b></p>
<p>Open your browser and navigate to: https://nodejs.org/en/  than Download the current version of Node JS.</p>
<p><b>STEP 2: INSTALL ANGULAR CLI GLOBALLY</b></p>
<p>Angular CLI is a command line interface for Angular. To install the Angular CLI;
Open your command prompt, and type “ npm install -g @ angular / cli ”</p> 
<p><b>STEP 3: CHOOSE THE BEST TEXT EDITOR FOR YOU</b></p>
<p>With any text editor you can develop the Angular project. But one of them is definitely better: Visual Studio Code!</p>
<button class="btn btn-primary" style="margin-left: 950px;"><a href="/backend"><b style="color:black">Next</b></a></button> 
<p></p>   
</div>