<h1 style="text-align: center;"><b><u>Introduction to web development</u></b></h1>
<div class="container">
    <h4 style="text-align: center;"><b><u>Introduction</u></b></h4>
    <button class="btn btn-primary" style="margin-left: 950px;"><a href="/event"><b style="color:black">Home</b></a></button> 
    <p>Web programming, also known as web development, 
        is the creation of dynamic web applications. 
        Examples of web applications are social networking sites like Facebook or e-commerce sites like Amazon.</p>
    <p>There are two broad divisions of web development – front-end development (also called client-side development)
             and back-end development (also called server-side development).</p>
    <p>Front-end development refers to constructing what a user sees when they load a web application – the content, 
        design and how you interact with it. This is done with three codes – HTML, CSS and JavaScript.</p>
    <p>HTML, short for Hyper Text Markup Language, is a special code for ‘marking up’ text in order to turn it into a web page.
         Every web page on the net is written in HTML, and it will form the backbone of any web application.
         CSS, short for Cascading Style Sheets, is a code for setting style rules for the appearance of web pages. 
         CSS handles the cosmetic side of the web. Finally, JavaScript is a scripting language that’s widely 
         used to add functionality and interactivity to web pages.</p>
    <p>Back-end development controls what goes on behind the scenes of a web application. 
             A back-end often uses a database to generate the front-end.</p>
    <p>Full stack developers do bits of both backend and frontend. Depending on the problem at hand,
         they can switch cape 🦸‍♀️🦸‍♂️ and move stacks. You can learn more about the differences between frontend and
          backend development in this guide.</p>
    <p>Web development is the building and maintenance of websites; it’s the work that happens behind the scenes to make 
        a website look great, work fast and perform well with a seamless user experience.</p>
     <p>Web developers, or ‘devs’, do this by using a variety of coding languages. The languages they use depends on the 
        types of tasks they are preforming and the platforms on which they are working.</p>
    <p>Web development skills are in high demand worldwide and well paid too – making development a great career option. 
        It is one of the easiest accessible higher paid fields as you do not need a traditional university degree to become 
        qualified.</p>   
         
    
        <button class="btn btn-primary" style="margin-left: 950px;"><a href="/language"><b style="color:black">Next</b></a></button>   
    
</div>