<h1 style="text-align: center;"><b><u>Language and software is used in web development</u></b></h1>

<div class="container">
      <h4 style="text-align: center;"><b><u>Language and software is used in web development</u></b></h4>
      <button class="btn btn-primary" style="margin-left: 950px;"><a href="/event"><b style="color:black">Home</b></a></button> 
    <p>Enterprises have witnessed a huge shift from legacy software to agile and technologically advanced applications 
        to meet the growing needs of the modern business environment. It allows web developers to pick the most suitable tools 
        for efficient development. For digital transformation, businesses are implying cloud-native practices and
         now prefer multi-cloud strategies. It helps meet the tech-inclined demands of the business.</p>
    <p>Web app development companies are now using a multi-lingual approach for better velocity, high flexibility, and interoperations when it comes to the development language. 
        Thus, enterprises are looking to hire multi-lingual developers for a full-fledged talent showcase. 
        This ends up the enterprise with the right app to fulfill its goals and objectives. </p>
    <p>As we get into the top programming languages for enterprise app development,
         it is important to take note that there is consistency among the popular languages.
          There is no sudden shift in demand or use of a specific programming language,
           neither by web app development services nor the business industry.</p>
    <h6>HTML</h6>
    <p>HTML makes up the layout and structure for your website. This language is dynamic and allows you to create a beautiful 
        website using less code. HTML is used to create a starting point for the website and is what most of your static pages 
        start from. A better way to understand this language is to consider it as the skeleton that is holding your website 
        together.</p>
    <hr>
    <h6>CSS</h6>   
    <p>CSS is the language developers can use to style a website. The style sheet language describes how your website 
        is presented and its layout. CSS is used hand in hand with HTML to add colors, backgrounds, layouts, font sizes, 
        and more. This language is a core technology web developers use to design and build websites.</p>
    <hr>
    <h6>JavaScript</h6>
    <p>JavaScript is used in many aspects of web development. Web developers use this language to add interactive elements 
        to their websites. User engagement is important to your business, and your web developer 
        should be incorporating JavaScript elements in your design.</p> 
    <hr>
    <h6>angular</h6>
    <p>Angular is a TypeScript-based open-source front-end application platform led by the Angular Team at Google and by a community of individuals and corporations. Angular is a complete rewrite from the same team that built AngularJS. Angular is a platform that makes it easy to build applications with the web. Angular combines declarative templates, dependency injection, end to end tooling, and integrated best practices to solve development challenges. Angular empowers developers to build applications that live on the web, mobile, or the desktop.</p>
    <button class="btn btn-primary" style="margin-left: 950px;"><a href="/front"><b style="color:black">Next</b></a></button> 
</div>
