<div class="container">
    <h1>Event Name</h1>
    <p><b>The one day workshop on web development</b></p>
    <hr>
    <h1>Event Stat Date</h1>
    <p><b>The event date is 27-04-2021</b></p>
    <hr>
    <h1>Event End Date</h1>
    <p><b>The event end date is 27-04-2021</b></p>
    <hr>
    <h1>Location</h1>
    <p><b>Bangalore</b></p>
    <hr>
    <button class="btn btn-primary"><a href="/registration"><b style="color:black">Registration</b></a></button>
    <hr>
    <h1>Event</h1>
    <button class="btn btn-primary"><a href="/event"><b style="color:black">Event</b></a></button>
</div>